[user]
	name = Tommy Stanton
	email = tommystanton@gmail.com
[color]
	branch = auto
	status = auto
	diff = auto
[color "diff"]
	whitespace = red reverse
[core]
	editor = /usr/bin/env vim
	pager = less -SRX
[diff]
	tool = vimdiff
	renames = true
[merge]
	tool = diffconflicts
[branch]
	autosetupmerge = true
[alias]
	l = log --pretty=oneline --abbrev-commit
	ls = ls-tree --name-only -r HEAD
[diff "json"]
	textconv = json-diffable <
[diff "tar"]
	textconv = tar ft
[diff "odf"]
	textconv = odt2txt
[diff "doc"]
	textconv = catdoc
[mergetool]
	keepBackup = false
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
